.imagen-fluid{
 background-image: url("../../../assets/media/avion.jpg");
 background-position:  center top;
 background-size: 100% auto;
 background-repeat: no-repeat;
}
.altura-100{
  height: 100vh;
}


